ion-header {
    background-color:rgb(0, 46, 161);
  }
  
ion-title {
color: white;
font-weight: bold;
text-align: center ;
}

ion-toolbar {
    --background: transparent;
    --border-color: transparent;
  }