<ion-content class="speaker-detail">

  <div class="speaker-background">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
  </div>

  <h4 *ngIf="user" class="center">{{user.firstName}} {{user.lastName}}</h4>

  <section style="margin-top: 3em;">
    <ion-grid>
      <ion-row class="homerow">
        <ion-col>
          <div class="tabb">
            <ion-tab-button  size="medium" color="light" (click)="goToScan()">
              <ion-label>Scanner pass</ion-label>
              <ion-icon name="qr-code" class="big"></ion-icon>       
            </ion-tab-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="tabb">
            <ion-tab-button  size="medium" color="light" (click)="goToBasketCreation()">
              <ion-label>Création de panier</ion-label>
              <ion-icon name="basket-outline" class="big"></ion-icon>
            </ion-tab-button>
          </div>
        </ion-col>
        </ion-row>
    </ion-grid>
  </section>


</ion-content>